{#
 * Created by PhpStorm.
 * User: Nemzag aka Gaz‑mên Arifi (Shkypi, 1979-09-30).
 * Date: 14/11/2019
 * Time: 09:40
 * Updated:
#}

{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Nos cours{% endblock %}

{% block body %}

<main class="container">

    <br>
    <br>
    <br>

    <h2 class="h4">{{ course.name | capitalize }}</h2>

    <br>
    <br>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</a>
            <a class="nav-item nav-link" id="nav-detail-tab" data-toggle="tab" href="#nav-detail" role="tab" aria-controls="nav-detail" aria-selected="false">Détail</a>
            <a class="nav-item nav-link" id="nav-comment-tab" data-toggle="tab" href="#nav-comment" role="tab" aria-controls="nav-comment" aria-selected="false">Commentaire</a>
            <a class="nav-item nav-link" id="nav-post-tab" data-toggle="tab" href="#nav-post-comment" role="tab" aria-controls="nav-post" aria-selected="false">Postez un commentaire</a>
        </div>
    </nav>

    <br>

    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

            <div class="row">
                <div class="col-4">
                    {#<img alt="{{ course.name }}" src="{{ asset('img/section/') }}{{ course.id }}.jpg">#}
                    <img alt="{{ course.name }}" src="{{ asset('img/section/') }}{{ course.image }}">
                </div>

                <div class="col-1"></div>

                <div class="col-7">
                    <h3 class="h5">Déscription</h3>

                    <p>{{ course.smallDescription }}</p>

                    <h3 class="h5">Informations</h3>

                        <p>Prix : {{ course.price }}</p>

                        <p>Durée : {{ course.duration }}</p>

                        <p>Catégorie : {{ course.category.name }}</p>

                        <p>Ajouté le : {{ course.createdAt | date('d/m/Y') }}</p>

                        <p>Horaire : {{ course.schedule }}</p>

                        <p>Niveau : {{ course.level.name }}</p>

                    </ul>


                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
            <div class="col-12">

                <h3 class="h5">Déscription complète</h3>

                <p>{{ course.fullDescription | nl2br }}</p>

                <a href="{{ path('home') }}pdf/{{ course.program }}" target="_blank" class="btn btn-primary">Télécharger le programme</a>
            </div>

        </div>



        <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">...</div>

        <div class="tab-pane fade" id="nav-post-comment" role="tabpanel" aria-labelledby="nav-post-comment">...</div>
    </div>
</main>
{% endblock %}

{% block javascripts %}
    <script>
        var filterizd = $('.filter-container').filterizr({
            // options here
        });
    </script>
{% endblock %}
