{#
 * Created by PhpStorm.
 * User: Nemzag aka Gaz‑mên Arifi (Shkypi, 1979-09-30) {https://github.com/Nemzag/}.
 * Date: 2020-01-04
 * Time: 13h56
 * Updated:
#}

{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Changement de mot de passe{% endblock %}

{% block main %}

    <div class = "container" style = "min-height: 70vh;" >

        <div class="row">
            <div class = "col-md-4 offset-md-4" >
                <h2 class = "my-4" >Changement de mot de passe</h2 >

                {% for message in app.flashes('password_change_success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('password_change_danger') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                {#
                {% if error %}
                    <div class = "alert alert-danger" >Nom d'utilisateur ou mot de passe erronés</div >
                {% endif %}
                #}

                {{ form_start(formPasswordChange) }}

                {{ form_row(formPasswordChange.oldPassword) }}
                {{ form_row(formPasswordChange.newPassword) }}
                {{ form_row(formPasswordChange.confirmNewPassword) }}

                {#
                <button class = "btn" >Register</button >
                #}

                <div class = "form group" >
                    <input type = "hidden" name = "_csrf_token" value = "{{ csrf_token('authenticate') }}" >
                    <button type = "submit" class = "btn btn-primary" >Sauvegarder</button >
                </div >

                {{ form_end(formPasswordChange) }}

              {#  <form action = "{{ path('password_update') }}" method = "post" >
                    <div class = "form-group" >
                        <label for = "pass" >Votre mot de passe</label >
                        <input type = "password" class = "form-control" required name = "_password" placeholder = "Password" id = "pass" >
                    </div >

                    <div class = "form-group" >
                        <label for = "pass" >Votre mot de passe</label >
                        <input type = "password" class = "form-control" required name = "_password" placeholder = "Password" id = "pass" >
                    </div >

                    <div class = "form-group" >
                        <label for = "pass" >Votre mot de passe</label >
                        <input type = "password" class = "form-control" required name = "_password" placeholder = "Password" id = "pass" >
                    </div >

                    <div class = "form group" >
                        <input type = "hidden" name = "_csrf_token" value = "{{ csrf_token('authenticate') }}" >
                        <button type = "submit" class = "btn btn-primary" >Connexion</button >#}
                    </div >
                </form >
            </div >
        </div>
    </div >
{% endblock %}
