{% extends 'base_admin.html.twig' %}

    {% block title %}Admin : Tous le’s utilisateur’s.{% endblock %}

    {% block style %}
        <style >
            table.table {
                width: 100%;
                margin: 0 auto 0 auto;
            }

            .table > thead > tr > th,
            .table > thead > tr > td {
                vertical-align: baseline;
            }

        </style >
    {% endblock %}

    {% block main %}

        <!--[if lt IE 8]>
        <p class = "browserupgrade" >You are using an <strong >outdated</strong > browser. Please
            <a href = "http://browsehappy.com/" >upgrade your browser</a > to improve your experience.</p >
        <![endif]-->

        <div class = "courses-area" >
        <div class = "container" >

        <div class = "row align-items-center" >

        <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >

       <div class = "product-payment-inner-st" >

        <h1 >Gestion des utilisateurs</h1 >

        {{ include('admin/include/alert.info.html.twig') }}

        {% for message in app.flashes('user_success') %}
            <div class = "alert alert-success" >
                {{ message }}
            </div >
        {% endfor %}
        {% for message in app.flashes('user_disabled') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <p >
            <a href = "{{ path('admin_user_new') }}" class = "btn btn-warning" ><b >Créer un nouvelle utilisateur</b ></a >
        </p >

        {#
        <table id="table" style="text-align: center" class="table-de-gazmen order-column hover stripe cell-border" data-order='[[ 2, "desc" ]]' <!-- data-column-defs='[{ "type": "html-num-fmt", "targets": 5 }]' --> data-page-length="25" data-filter="true" data-info="false" data-paging="true"> > <!-- data-page-length="-1" : pro all results… -->
        #}

        <table id="table" class = "table table-bordered table-sm table-hover table-striped gaz-table table-de-gazmen" data-order='[[ 9, "asc" ]]' style = "margin-left: 0; width: 100%;" data-page-length="25" data-filter="true" data-info="false" data-paging="true" >

            <thead class = "thead-dark" >

            <tr >
                <th scope = "col" class = "gaz-table-index-5" >Image</th >

                <th scope = "col" >Pseudo‑onyme<br>Courriel</th >

                <th scope = "col" class = "gaz-table-index-8em" >Prénom<br>Nom</th >

                <th scope = "col" class = "gaz-table-index-6em" >Compte<br >désactivé</th >

                {#
                <th scope = "col" >Password</th >
                #}

                <th scope = "col" class = "gaz-table-index-3em" >Rangué</th >

                <th scope = "col" class = "gaz-table-index-8em" >Date de<br >création</th >

                <th scope = "col" class = "gaz-table-index-8em" >Date de<br >mise à jour</th >

                <th scope = "col" class = "gaz-table-index-8em" >Dernier<br >connection</th >

                <th scope = "col" class = "gaz-table-index-2em" >ID</th >
            </tr >

            </thead >

            <tbody >

            {#Affichage 4 cours par ligne en flex.#}
            {% for user in users %}

                <tr >
                    <td scope = "row" title = "Image" >
                        <img src = "{{ asset('public/img/avatar/') }}{{ user.image }}" alt = "{{ user.image }}" >
                    </td >

                    <td title = "Pseudo‑onyme" >
                        <a href = "{{ path('user_show', {'id': user.id}) }}" title="Pseudo‑onyme de l'utilisateur.">{{ user.userName }}</a ><br>
                        <small><a href = "mailto:{{ user.email }}" title="Contacter par courriel.">{{ user.email | capitalize }}</a ></small><br>
                        <span class="badge badge-primary" title="Rang de l'utilisateur.">{{ user.role[0] }}</span></td >

                    <td title = "Prénom & nom" >{{ user.firstName }}<br>{{ user.lastName }}</td >

                    <td title = "Action" style = "text-align: center;" >

                        {% if user.isDisabled == 1 %}

                            <a class = "btn btn-danger gaz-admin-btn-crud" href = "{{ path('admin_user_index', {'id': user.id}) }}&amp;disabled={{ user.isDisabled == 1 ? '0' : '1' }}" ><i class = "fas fa-eye-slash" ></i ><br ><small >Oui</small ></a >

                        {% elseif user.isDisabled == 0 %}

                            <a class = "btn btn-warning gaz-admin-btn-crud" href = "{{ path('admin_user_index', {'id': user.id}) }}&amp;disabled={{ user.isDisabled == 1 ? '0' : '1' }}" ><i class = "fas fa-eye" ></i ><br ><small >Non</small ></a >

                        {% endif %}

                        <!-- <?= $row->visibility == 1 ? 0 : 1 ?> -->
                    </td >

                    <td title = "Action" style = "text-align: center;" >
                        <a class = "btn btn-info gaz-admin-btn-crud" href = "{{ path('admin_user_edit', {'id': user.id}) }}" ><i class = "fas fa-edit" ></i ><br ><small >Rang</small ></a >
                    </td >


                    {#
                    <td title = "Mot de passe" >…</td >
                    #}

                    <td title = "Date de création" style = "text-align: center;" >{{ user.createdAt ? user.createdAt|date('Y-m-d ') : '' }}
                        <br > <small >{{ user.createdAt ? user.createdAt|date('H\\hi\\ms\\s') : '' }}</small ><br >
                        <small >{{ user.createdAt ? user.createdAt | localizeddate('none', 'none', null, null, 'EEEE') | capitalize }}</small >
                    </td >

                    <td title = "Date de création" style = "text-align: center;" >{{ user.updatedAt ? user.updatedAt|date('Y-m-d ') : '' }}
                        <br > <small >{{ user.updatedAt ? user.updatedAt|date('H\\hi\\ms\\s') : '' }}</small ><br >
                        <small >{{ user.updatedAt ? user.updatedAt | localizeddate('none', 'none', null, null, 'EEEE') | capitalize }}</small >
                    </td >

                    <td title = "Date de création" style = "text-align: center;" >{{ user.lastLogAt ? user.lastLogAt|date('Y-m-d ') : '' }}
                        <br > <small >{{ user.lastLogAt ? user.lastLogAt|date('H\\hi\\ms\\s') : '' }}</small ><br >
                        <small >{{ user.lastLogAt ? user.lastLogAt | localizeddate('none', 'none', null, null, 'EEEE') | capitalize }}</small >
                    </td >

                    <td title = "ID" >{{ user.id }}</td >

                </tr >

            {% else %}

                <tr >
                    <td colspan = "13" >Pas d'enregistrement trouvé</td >
                </tr >
            {% endfor %}
            </tbody >
        </table >

        <hr >
        <p >
            <a href = "{{ path('admin_user_new') }}" class = "btn btn-warning" ><b >Créer un nouvelle utilisateur</b ></a >
        </p >
    {% endblock %}