{% extends 'base_admin.html.twig' %}

{% block title %}Inscription à un cours{% endblock %}

{% block main %}

<div class = "container" >

    <div class = "row align-items-center" >

        <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >

            {# Begin Product-Payment #}
            <div class = "product-payment-inner-st" >

                <h1 class="h1" ><strong>Inscription à un cours</strong></h1 >

                <hr >

                <table class = "table table-bordered table-sm table-hover table-striped gaz-table table-de-gazmen"
                       data-order='[[ 2, "asc" ]]'
                       id = "table"
                       style = "margin-left: 0; width: 100%;" >

                    <thead class = "thead-dark" >

                    <tr >

                        <th scope = "col" >Cours</th >
                        <th scope = "col" style="width: 150px;" >Date de inscription</th >
                        <th scope = "col" >Utilisateur</th >
                        <th scope = "col" style="width: 75px;" >Prix</th >

                    </thead >

                    <tbody >
                    {#Affichage 4 cours par ligne en flex.#}
                    {% for registration in registrations %}

                        <tr >

                            <td title = "Cours" ><b><a href = "{{ path('admin_registration_show', {'id': registration.id}) }}" >{{ registration.course | slice(0, 20) | nl2br }}</a ></b></td >

                            <td title = "Date d'inscription" style="text-align: center;" >{{ registration.createdAt ? registration.createdAt|date('Y-m-d ') : '' }}
                                <br >
                                <small >{{ registration.createdAt ? registration.createdAt|date('H\\hi\\ms\\s') : '' }}</small ><br >
                                <small >{{ registration.createdAt ? registration.createdAt | localizeddate('none', 'none', null, null, 'EEEE') | capitalize }}
                            </td >

                            <td title = "Utilisateur">{{ registration.user | capitalize }}</td>

                            <td title = "Prix" class="text-right">{{ registration.amount | number_format(2, ',', '.') }}€</td >

                        </tr >

                    {% else %}

                        <tr >
                            <td colspan = "13" >Pas d'enregistrement trouvé</td >
                        </tr >
                    {% endfor %}
                    </tbody >
                </table >


            </div >
            {# Begin Product-Payment #}
        </div >
                {% endblock %}
