{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block main %}

    <div class = "container" >

        <br >

        <div class="jumbotron bg-secondary">

            <div class="row">

                <div class="col-8">

                    <h1 class="display-4">{{ news.title }}</h1>

                    </div>

                <div class="col-4">

                    <img src="{{ asset("public/img/news/") }}{{ news.image }}" alt="..." class="img-thumbnail">

                </div>

            </div>

            <br >

            <p class="lead alert alert-info w-25 text-center font-weight-bold"><time title="{{ news.createdAt ? news.createdAt|date('Y-m-d ‒ H:i:m:s') : '' }}">{{ news.createdAt ? news.createdAt|date('Y-m-d ‒ H\\hi\\ms\\s') : '' }}</time></p>

            <hr class="my-4">

            <p class="gaz-new-text-size">{{ news.text | nl2br }}</p>

            <p class="lead">
                <a class="btn btn-primary btn-lg w-25" href="#" role="button">Revenir à l'accueil</a>
            </p>

        </div>

    </div >
{% endblock %}
