{% extends 'base.html.twig' %}

{% block title %}Déjà inscrit{% endblock %}

{% block main %}

    <div class = "container" >


        <div class = "col-md-6 offset-md-3" >

            {% for message in app.flashes('public_registration_danger') %}
                <br ><br >
                <div class = "alert alert-success" >
                    {{ message }}
                </div >
            {% endfor %}

            {% for message in app.flashes('public_confirm_success') %}
                <br ><br >
                <div class = "alert alert-success" >
                    {{ message }}
                </div >
            {% endfor %}
            <br >

            <h2 >Déjà inscrit à&nbsp;:</h2 >

            <br >

            {% if registrations | length > 0 %}

                <table class = "table table-hover table-bordered table table-striped table-sm" >
                    <thead class = "table-dark" >
                    <tr class = "text-center" >
                        <th >Nom</th >
                        <th >Date</th >
                        <th class = "col-1" >Effacé</th >
                        <th class = "col-2" >Prix</th >
                        {#
                        <th>Prix<br>total</th>
                        #}

                    </tr >
                    </thead >
                    <tbody >
                    {% for registration in registrations %}
                        <tr >
                            <td >{{ registration.course }}</td >

                            <td>{{ registration.createdAt ? registration.createdAt | localizeddate('none', 'none', null, null, 'EEEE') | capitalize }} {{ registration.createdAt ? registration.createdAt|date('Y-m-d ') : '' }} ‒ {{ registration.createdAt ? registration.createdAt|date('H\\Hi\\') : '' }}</h6 ></td >

                            <td class = "text-center" >
                                <a href = "{{ path("public_cart_erase", {'id': registration.id }) }}" class = "btn btn-primary btn-sm" ><i class = "fas fa-trash-alt" ></i ></a >
                            </td >

                            <td class = "text-right" >{{ registration.course.price | replace({'.': ","}) }}€</td >

                            {#
                            <td>{{ registration.course.price * registration.quantity }}</td>
                            #}
                        </tr >
                    {% endfor %}
                    </tbody >
                    <tfoot class = "table-dark" >
                    <tr >

                        {% set somme = 0 %}
                        {% for registration in registrations %}
                            {% set somme = somme + registration.course.price %}
                        {% endfor %}


                        <td colspan = "4" class = "text-right" ><b >Total : {{somme}}€</b >
                        </td >
                    </tr >
                    </tfoot >
                </table >

            {% else %}

                <div class = "alert alert-info" >Vous ne avez accomplie aucune inscription jusqu'à present.</div >

            {% endif %}

            <div class="row">

                <div class="col-auto mr-auto"><a class = "btn btn-primary" style="width: 13em;" href = "{{ path('home') }}" role = "button" >Revenir à l'accueil</a ></div>

            </div>

        </div >
    </div >
{% endblock %}
