{#
 * Created by PhpStorm.
 * User: Nemzag aka Gaz‑mên Arifi (Shkypi, 1979-09-30) {https://github.com/Nemzag/}.
 * Date: 2019-12-28
 * Time: 21h45
 * Updated:
#}

{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

    {% block main %}

        <div class = "container" style = "min-height: 70vh;" >
            <div class = "row" >
                <div class = "col-md-4 offset-md-4" >

                    <h2 class = "my-4" >Inscription d'un nouvel utilisateur</h2 >

                    {% for message in app.flashes('registration_success') %}
                        <div class = "alert alert-success" >
                            {{ message }}
                        </div >
                    {% endfor %}

                    {% for message in app.flashes('registration_danger') %}
                        <div class = "alert alert-primary" >
                            {{ message }}
                        </div >
                    {% endfor %}

                    {% if errors|length > 0 %}
                        {{ dump(errors) }}
                    {% endif %}

                    {{ form_start(registration) }}

                    <div class="form-group">
                        {{ form_label(registration.firstName) }}
                        {{ form_widget(registration.firstName) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registration.lastName) }}
                        {{ form_widget(registration.lastName) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registration.userName) }}
                        {{ form_widget(registration.userName) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registration.email) }}
                        {{ form_widget(registration.email) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registration.password) }}
                        {{ form_widget(registration.password) }}
                    </div>


                    <div class="form-group">
                        {{ form_label(registration.confirmPassword) }}
                        {{ form_widget(registration.confirmPassword) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registration.imageFile) }}
                        {{ form_widget(registration.imageFile) }}
                    </div>

                    <div class="form-group">
                        {{ form_widget(registration.agreeTerms) }}
                    </div>

                    {# Commenté à cause du bouton ReCaptcha dans « fields.html.twig ». #}
                    {#
                    <button class = "btn btn-success gaz-admin-form-button" >{{ button_label|default('Sauver') }}</button >
                    #}

                    {{ form_end(registration) }}

                </div >
            </div >
        </div >

    {% endblock %}
