{#
 * Created by PhpStorm.
 * User: Nemzag aka Gaz‑mên Arifi (Shkypi, 1979-09-30).
 * Date: 2019-11-29
 * Time: 11h44
 * Updated:
#}

<footer>
    <div class = "footer-copyright-area">
        <div class = "container-fluid">
            <div class = "row">
                <div class = "col-lg-12">
                    <div class = "footer-copy-right">
                        <p>Copyright © 2018. All rights reserved. Template by
                            <a href = "https://colorlib.com/wp/templates/">Colorlib</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}

    {% endblock %}

    <!-- jquery
        ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/vendor/jquery-1.12.4.min.js') }}"></script>

    <!-- bootstrap JS
        ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/bootstrap.min.js') }}"></script>

    <!-- c3 JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/c3-charts/d3.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/c3-charts/c3.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/c3-charts/c3-active.js') }}"></script>

    <!-- calendar JS
        ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/calendar/moment.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/calendar/fullcalendar.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/calendar/fullcalendar-active.js') }}"></script>

    <!-- Chart JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/chart/jquery.peity.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/chart/peity-active.js') }}"></script>

    <!-- Charts JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/charts/Chart.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/charts/area-chart.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/charts/bar-chart.js') }}"></script>

    <!-- chosen JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/chosen/chosen.jquery.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/chosen/chosen-active.js') }}"></script>

    <!-- code editor JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/code-editor/codemirror.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/code-editor/code-editor.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/code-editor/code-editor-active.js') }}"></script>

    <!-- colorpicker JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/colorpicker/jquery.spectrum.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/colorpicker/color-picker-active.js') }}"></script>

    <!-- counterup JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/counterup/jquery.counterup.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/counterup/waypoints.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/counterup/counterup-active.js') }}"></script>

    <!-- cropper JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/cropper/cropper.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/cropper/cropper-actice.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/charts/line-chart.js') }}"></script>

    <!-- Data Maps JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/data-map/d3.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/data-map/topojson.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/data-map/datamaps.all.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/data-map/data-maps-active.js') }}"></script>

    <!-- data table JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/data-table/bootstrap-table.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/data-table/tableExport.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/data-table/data-table-active.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/data-table/bootstrap-table-editable.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/data-table/bootstrap-editable.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/data-table/bootstrap-table-resizable.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/data-table/colResizable-1.5.source.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/data-table/bootstrap-table-export.js') }}"></script>

    <!-- datapicker JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/datapicker/bootstrap-datepicker.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/datapicker/datepicker-active.js') }}"></script>

    <!-- dropzone JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/dropzone/dropzone.js') }}"></script>

    <!-- duallistbox JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/duallistbox/jquery.bootstrap-duallistbox.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/duallistbox/duallistbox.active.js') }}"></script>

    <!--  editable JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/editable/jquery.mockjax.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/editable/mock-active.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/editable/select2.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/editable/moment.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/editable/bootstrap-datetimepicker.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/editable/bootstrap-editable.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/editable/xediable-active.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/peity/peity-active.js') }}"></script>

    <!-- form validate JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/form-validation/jquery.form.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/form-validation/jquery.validate.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/form-validation/form-active.js') }}"></script>

    <!-- Google map JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/google.maps/google.maps-active.js') }}"></script>
    <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBiNUO68DkrsFKFz744_LWMqCNI_GqYciQ&callback=initMap"></script>

    <!-- icheck JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/icheck/icheck.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/icheck/icheck-active.js') }}"></script>

    <!-- input-mask JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/input-mask/jasny-bootstrap.min.js') }}"></script>

    <!-- ionRangeSlider JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/ionRangeSlider/ion.rangeSlider.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/ionRangeSlider/ion.rangeSlider.active.js') }}"></script>

    <!-- knob JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/knob/jquery.knob.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/knob/knob-active.js') }}"></script>

    <!-- mCustomScrollbar JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/scrollbar/mCustomScrollbar-active.js') }}"></script>

    <!-- metisMenu JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/metisMenu/metisMenu.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/metisMenu/metisMenu-active.js') }}"></script>

    <!-- morrisjs JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/morrisjs/raphael-min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/morrisjs/morris.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/morrisjs/morris-active.js') }}"></script>

    <!-- morrisjs JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/sparkline/jquery.sparkline.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/sparkline/jquery.charts-sparkline.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/sparkline/sparkline-active.js') }}"></script>

    <!-- main JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/main.js') }}"></script>

    <!-- mCustomScrollbar JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/scrollbar/mCustomScrollbar-active.js') }}"></script>

    <!-- meanmenu JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/jquery.meanmenu.js') }}"></script>

    <!-- metisMenu JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/metisMenu/metisMenu.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/metisMenu/metisMenu-active.js') }}"></script>

    <!-- morrisjs JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/sparkline/jquery.sparkline.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/sparkline/jquery.charts-sparkline.js') }}"></script>

    <!-- multiple email JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/multiple-email/multiple-email-active.js') }}"></script>

    <!-- notification JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/notifications/Lobibox.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/notifications/notification-active.js') }}"></script>

    <!-- owl.carousel JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/owl.carousel.min.js') }}"></script>

    <!-- payment away JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/card.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/jquery.payform.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/e-payment.js') }}"></script>

    <!-- pdf JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/pdf/jquery.media.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/pdf/pdf-active.js') }}"></script>

    <!-- peity JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/peity/jquery.peity.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/charts/rounded-chart.js') }}"></script>

    <!-- plugins JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/plugins.js') }}"></script>

    <!-- price-slider JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/jquery-price-slider.js') }}"></script>

    <!-- pwstrength JS
     ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/password-meter/pwstrength-bootstrap.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/password-meter/zxcvbn.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/password-meter/password-meter-active.js') }}"></script>

    <!-- rangle-slider JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/rangle-slider/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/rangle-slider/jquery-ui-touch-punch.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/rangle-slider/rangle-active.js') }}"></script>

    <!-- scrollUp JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/jquery.scrollUp.min.js') }}"></script>

    <!-- select2 JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/select2/select2.full.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/select2/select2-active.js') }}"></script>

    <!-- sparkline JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/sparkline/sparkline-active.js') }}"></script>

    <!-- sticky JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/jquery.sticky.js') }}"></script>

    <!-- summernote JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/summernote/summernote.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/summernote/summernote-active.js') }}"></script>

    <!-- tab JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/tab.js') }}"></script>

    <!-- tawk chat JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/tawk-chat.js') }}"></script>

    <!-- touchspin JS
        ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/touchspin/touchspin-active.js') }}"></script>

    <!-- Tree Viewer JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/tree-line/jstree.min.js') }}"></script>
    <script src = "{{ asset('admin/dash-board/js/tree-line/jstree.active.js') }}"></script>

    <!-- wow JS
    ============================================ -->
    <script src = "{{ asset('admin/dash-board/js/wow.min.js') }}"></script>

    {% block javascripts %}
    {% endblock %}

</footer>
</body>

</html>
