{#
 * Created by PhpStorm.
 * User: Nemzag aka Gaz‑mên Arifi (Shkypi, 1979-09-30).
 * Date: 14/11/2019
 * Time: 09:40
 * Updated:
#}

{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Nos cours{% endblock %}

{% block main %}

    <main class = "container" >

        <br > <br > <br >

        <h2 class = "h4" >{{ course.name | capitalize }}</h2 >

        <br > <br >

        <nav >
            <div class = "nav nav-tabs" id = "nav-tab" role = "tablist" >
                <a class = "nav-item nav-link active" id = "nav-profile-tab" data-toggle = "tab" href = "#nav-profile" role = "tab" aria-controls = "nav-profile" aria-selected = "true" >Profile</a >
                <a class = "nav-item nav-link" id = "nav-detail-tab" data-toggle = "tab" href = "#nav-detail" role = "tab" aria-controls = "nav-detail" aria-selected = "false" >Détail</a >
                <a class = "nav-item nav-link" id = "nav-comment-tab" data-toggle = "tab" href = "#nav-comment" role = "tab" aria-controls = "nav-comment" aria-selected = "false" >Commentaire</a >
                <a class = "nav-item nav-link" id = "nav-post-tab" data-toggle = "tab" href = "#nav-post-comment" role = "tab" aria-controls = "nav-post" aria-selected = "false" >Postez un commentaire</a >
            </div >
        </nav >

        <br >

        <div class = "tab-content" id = "nav-tabContent" >

            <div class = "tab-pane fade show active" id = "nav-profile" role = "tabpanel" aria-labelledby = "nav-profile-tab" >

                <div class = "row" >
                    <div class = "col-4" >
                        {#<img alt="{{ course.name }}" src="{{ asset('img/section/') }}{{ course.id }}.jpg">#}
                        <img alt = "{{ course.name }}" src = "{{ asset('public/img/section/') }}{{ course.image }}" style = "width: 100%;" >
                    </div >

                    <div class = "col-1" ></div >

                    <div class = "col-7" >
                        <h3 class = "h5" ><b >Déscription</b ></h3 >

                        <p >{{ course.smallDescription }}</p >

                        <h3 class = "h5" ><b >Informations</b ></h3 >

                        <p ><b >Prix :</b > {{ course.price }}€</p >

                        <p ><b >Durée :</b > {{ course.duration }}</p >

                        <p ><b >Catégorie :</b > {{ course.category.name }}</p >

                        <p ><b >Ajouté le :</b > {{ course.createdAt | date('d/m/Y') }}</p >

                        <p ><b >Horaire :</b > {{ course.schedule }}</p >

                        <p ><b >Niveau :</b > {{ course.level.name }}</p >

                        {% if registration is empty %}

                            <a href = "{{ path('cart_selection', {'id': course.id} ) }}" style="width: 8em;" class = "btn btn-primary" >S'inscrire&nbsp;&nbsp;<i class="fas fa-cart-arrow-down"></i></a >

                        {% elseif course.id == registration.course.id %}

                            <a href = "#" class = "btn btn-success" style="width: 8em;" >Déjà inscris</a >

                        {% endif %}
                    </div >
                </div >
            </div >

            <div class = "tab-pane fade" id = "nav-detail" role = "tabpanel" aria-labelledby = "nav-detail-tab" >
                <div class = "col-12" >

                    <h3 class = "h5" ><b >Déscription complète</b ></h3 >

                    <p >{{ course.fullDescription | nl2br }}</p >

                    <a href = "{{ path('home') }}pdf/{{ course.program }}" target = "_blank" class = "btn btn-primary" >Télécharger le programme</a >
                </div >

            </div >

            <div class = "tab-pane fade" id = "nav-comment" role = "tabpanel" aria-labelledby = "nav-comment-tab" >

                <ul class = "list-group" >

                    {#
                    {% if comment is not empty %}

                        <p>Test</p>

                    {% endif %}
                    #}

                    <h3 class = "h5" ><b >Liste de’s commentaire’s</b ></h3 >

                    {# Fonction de calcul de’s moyenne’s de évaluation et affichage. #}
                    {% set sumEvaluations = 0 %}
                    {% for evaluation in comments %}
                        {% set sumEvaluations = sumEvaluations + evaluation.evaluation %}
                    {% endfor %}

                    {# Fonction de calcul de’s moyenne’s de désactivation. #}
                    {% set sumOfDisabled = 0 %}
                    {% for disabled in comments %}
                        {% set sumOfDisabled = sumOfDisabled + disabled.isDisabled %}
                    {% endfor %}

                    {% if (comments|length) > 0 %}
                        <p >Note global :
                            <span class = "text-danger" >{% if (sumEvaluations / comments|length)|round == 0 %}☆☆☆☆☆{% elseif (sumEvaluations / comments|length)|round == 1 %}★☆☆☆☆{% elseif (sumEvaluations / comments|length)|round == 2 %}★★☆☆☆{% elseif (sumEvaluations / comments|length)|round == 3 %}★★★☆☆{% elseif (sumEvaluations / comments|length)|round == 4 %}★★★★☆{% elseif (sumEvaluations / comments|length)|round == 5 %}★★★★★{% endif %}</span ><br > Calculé sur
                            <span class = "text-danger" >{{ comments|length }}</span > commentaires. </span > <span class = "text-danger" >{{ sumOfDisabled }}</span> désactivé <span class = "text-info" >à titre informatif pour le Téo‑cher‑Ône</span>.</p >

                        {# Si vide et pas de commentaire. #}
                    {% else %}

                        <p >Note global : inapplicable pas de commentaire.<br ><br >
                        </p >

                        {% if comments is empty %}
                            <li class = "list-group-item list-group-item-action flex-column align-items-start" >

                                <div class = "d-flex w-100 justify-content-between" >

                                    <h5 class = "mb-1" >{{ "Il n'y aucun com‑mêntaire actuelle‑mênt." }}</h5 >

                                </div >

                                {% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") or is_granted("ROLE_MODERATEUR") %}

                                    <br >

                                    <small >{{ "Seul les utilisateurs peuvent commênter, pas les contributeurs, modérateurs, administrateurs et le super‑administrateur.<br>
                            Le Super‑administrateur, les Administrateurs, les Modérateurs, ne peuvent que éditer ou supprimer les commêntaires des utilisateurs…<br>Bien sur pour les commêntaires de exemples j'ai utilisé chaque niveaux présent afin de avoir de la variété…" }}</small >

                                {% endif %}

                            </li >
                        {% endif %}
                    {% endif %}


                    {#
                    {% set sumratings = 0 %}
                    {% for rating in article.ratings %}
                        {% set sumratings = sumratings + rating.value %}
                    {% endfor %}
                    AVG: {{  sumratings / article.ratings|length }}
                    #}

                    {# Boucle d'affichage de’s commentaire’s #}
                    {% for comment in comments | reverse %} {# | reverse %} #}

                    {# Si disabled ne pas affiché, fonctionnel testé. #}
                    {% if comment.isDisabled == 1 %} {# | reverse %} #}

                    {% elseif comment.isdisabled == 0 %}
                        <li class = "list-group-item list-group-item-action flex-column align-items-start" >

                            <div class = "d-flex w-100 justify-content-between" >

                                <h5 class = "mb-1" >{{ comment.user.firstName }} {{ comment.user.lastName }}</h5 >

                                <small >
                                    <time >{{ comment.dateAddedAt ? comment.dateAddedAt|date('Y-m-d H:i:s') }}</time >
                                </small >

                            </div >

                            <div class = "row" >
                                <div class = "col-1" >

                                    <br >

                                    <img class = "gaz-img-log-in" src = "{{ asset('public/img/avatar/') }}{{ comment.user.image }}" alt = "{{ comment.user.firstName }} {{ comment.user.lastName }}" style = "height: 4em;" >

                                </div >

                                <div class = "col-11" role = "alert" >

                                    <br >

                                    <p class = "mb-1" >{{ comment.comment | raw | nl2br }}</p >

                                    <p >Ma note :
                                        <span class = "text-danger" >{% if comment.evaluation == 0 %}☆☆☆☆☆{% elseif comment.evaluation == 1 %}★☆☆☆☆{% elseif comment.evaluation == 2 %}★★☆☆☆{% elseif comment.evaluation == 3 %}★★★☆☆{% elseif comment.evaluation == 4 %}★★★★☆{% elseif comment.evaluation == 5 %}★★★★★{% endif %}</span >
                                    </p >

                                    {% if app.user %}

                                        <!-- Si vous êtes les bon USER vous pouvez modifer votre commêntaires. -->
                                        {% if path('comment_edit', {'id': app.user.id}) == path('comment_edit', {'id': comment.user.id}) %}

                                            <a href = "{{ path( 'comment_edit', {'id': comment.id }) }}" class = "btn btn-primary text-left text-white" ><i class = "fas fa-edit" ></i ><b > Ré‑éditer votre cômmêntaire</b ></a >
                                        {% endif %}

                                    {% endif %}
                                </div >

                                <small ></small >

                            </div >

                        </li >

                    {% endif %}

                    {% endfor %}
                </ul >

            </div >

            <div class = "tab-pane fade" id = "nav-post-comment" role = "tabpanel" aria-labelledby = "nav-post-comment" >

                {# {{ dump(comments) }} #}
                {% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") or is_granted("ROLE_MODERATEUR") or is_granted("ROLE_STUDENT") or is_granted("ROLE_USER") %}

                    {% if noComment %}

                        <p >Vous avez déjà commenter
                            <span class = "text-danger" >{{ app.user.firstname }} {{ app.user.lastname }}</span >.
                        </p >

                    {% else %}

                        <h3 class = "h5" ><b >Faite votre commentaire</b ></h3 >

                        {% if errors|length > 0 %}
                            {{ dump(errors) }}
                        {% endif %}

                        {{ include('admin/comment/_form.html.twig') }}

                        <hr >

                        <a class="btn btn-primary " href="{{ path('home') }}">Retour à l'accueil</a>


                    {% endif %}

                {% endif %}

            </div >

        </div >
    </main >
{% endblock %}

{% block javascripts %}
    <script >
        var filterizd = $('.filter-container').filterizr({
            // options here
        });
    </script >
{% endblock %}
