{% extends 'base_admin.html.twig' %}


{% block title %}Admin : Tous le’s cours’s.{% endblock %}

{% block body %}
    <h1>Course index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>SmallDescription</th>
            <th>FullDescription</th>
            <th>Duration</th>
            <th>Price</th>
            <th>CreatedAt</th>
            <th>IsPublished</th>
            <th>Slug</th>
            <th>Image</th>
            <th>Schedule</th>
            <th>Program</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ course.id }}</td>

                <td>{{ course.fullDescription }}</td>
                <td></td>
                <td>{{ course.createdAt ? course.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ course.isPublished ? 'Yes' : 'No' }}</td>
                <td>{{ course.slug }}</td>
                <td></td>
                <td></td>
                <td>{{ course.program }}</td>
                <td>
                    <a href="{{ path('course_show', {'id': course.id}) }}">show</a>
                    <a href="{{ path('course_edit', {'id': course.id}) }}">edit</a>
                </td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('course_new') }}">Create new</a>
{% endblock %}

{% block main %}

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="courses-area">
        <div class="container-fluid">
            <div class="row">

                {#Affichage 4 cours par ligne en flex.#}
                {% for course in courses %}

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="height: 600px;">

                    <div class="courses-inner res-mg-b-30" style="height: 570px;" >

                        <div class="courses-title">

                            <a href="#"><img src="{{ asset('public/img/section/') }}{{ course.image }}" alt=""></a>

                            <h2>{{ course.name }}</h2>

                        </div>

                        <div>

                            <p>{{ course.smallDescription }}</p>

                        </div>

                        <div class="courses-alaltic">

                            <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-clock"></i></span>{{ course.schedule }}{# 1 Year #}</span><br>

                            <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-heart"></i></span> 50</span><br>

                            <span class="cr-ic-r"><span class="course-icon"> {{ course.price }} <i class="fa fa-euro"></i></span></span>

                        </div>

                        <div class="course-des">
                            <p><span><i class="fa fa-clock"></i></span> <b>Duration:</b> {{ course.duration }} {#6 Months#}</p>

                            <p><span><i class="fa fa-clock"></i></span> <b>Professor:</b> Jane Doe</p>

                            <p><span><i class="fa fa-clock"></i></span> <b>Students:</b> 100+</p>

                        </div>

                        <div class="product-buttons">

                            <button type="button" class="button-default cart-btn">Read More</button>

                        </div>

                    </div>

                </div>

                {% else %}

                    <tr>
                        <td colspan="13">no records found</td>
                    </tr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}