{% extends 'base_admin.html.twig' %}

{% block title %}Admin : Tous le’s cours’s.{% endblock %}

{% block style %}
    <style >
        table.table {
            width: 100%;
            margin: 0 auto 0 auto;
        }

        .table > thead > tr > th,
        .table > thead > tr > td {
            vertical-align: baseline;
        }

    </style >
{% endblock %}

{% block main %}

    <!--[if lt IE 8]>
    <p class = "browserupgrade" >You are using an <strong >outdated</strong > browser. Please
        <a href = "http://browsehappy.com/" >upgrade your browser</a > to improve your experience.</p >
    <![endif]-->

    <div class = "courses-area" >
        <div class = "container-fluid" >

            <div class = "row align-items-center" >

                <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                    <div class = "product-payment-inner-st" >

                        <h1 >Gestion des Cours</h1 >

                        {{ include('admin/include/alert.info.html.twig') }}

                        {% for message in app.flashes('course_success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('course_visibility') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('course_danger') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}

                        <p >
                            <a href = "{{ path('course_new') }}" class = "btn btn-warning" ><b >Créer un nouveau cours</b ></a >
                        </p >

                        <table class = "table table-bordered table-sm table-hover table-striped gaz-table" style="margin-left: 0;" >

                            <thead class = "thead-dark" >

                            <tr >
                                <th scope = "col" class="gaz-table-index-8em" >Image</th >

                                <th scope = "col" >Nomination du cours</th >

                                <th scope = "col" class = "gaz-table-index-8em" >Catégorie</th >

                                <th scope = "col" class = "gaz-table-index-8em" >Durée</th >

                                <th scope = "col" class="gaz-table-index-8em" >Professeur<br >Titulaire</th >

                                <th scope = "col" >Nombre de<br > étudiants</th >

                                <!-- Prix -->
                                <th scope = "col" class="gaz-table-index-6em" >Prix</th >

                                <th scope = "col" class = "gaz-table-index-3em" >Visible</th >

                                <th scope = "col" class = "gaz-table-index-3em" >Éditer</th >

                                <th scope = "col" class = "gaz-table-index-3em" >Effacer</th >

                                <th scope = "col" class="gaz-table-index-8em" >Date</th >
                            </tr >

                            </thead >

                            <tbody >

                            {#Affichage 4 cours par ligne en flex.#}
                            {% for course in courses %}

                                <tr >
                                    <td scope = "row" title = "Image" >
                                        <img src = "{{ asset('public/img/section/') }}{{ course.image }}" alt = "{{ course.name }}" >
                                    </td >

                                    <td title = "Nomination du cours" >
                                        <a href = "{{ path('course_show', {'id': course.id}) }}" >{{ course.name }}</a ><br >
                                        <small >{{ course.smallDescription }}</small ></td >

                                    <td title = "Catégories" >{{ course.category.name }}</td > {# categories.name.id #}

                                    <td title = "Durée" >{{ course.duration | nl2br }}<br >
                                        <small >{{ course.schedule | nl2br }}</small ></td >

                                    <td title = "Professeur Titulaire" >{{ course.professor.firstname }}<br >
                                        {{ course.professor.lastname }}</td >

                                    <td title = "Nombre de étudiants" ></td >


                                    <td title = "Prix" style = "text-align: right;" >{{ course.price |number_format(2, ',', '.') }}&euro;</td >

                                    <!-- View -->
                                    <td title = "Action" style = "text-align: center;" >
                                        {% if course.isPublished == 1 %}

                                            <a class = "btn btn-warning gaz-admin-btn-crud" href = "{{ path('course_index', {'id': course.id}) }}&amp;visibility={{ course.isPublished == 1 ? '0' : '1' }}" ><i class = "fas fa-eye" ></i ><br ><small >Visible</small ></a >

                                        {% elseif course.isPublished == 0 %}

                                            <a class = "btn btn-danger gaz-admin-btn-crud" href = "{{ path('course_index', {'id': course.id}) }}&amp;visibility={{ course.isPublished == 1 ? '0' : '1' }}" ><i class = "fas fa-eye-slash" ></i ><br ><small >Caché</small ></a >

                                        {% endif %}

                                        <!-- <?= $row->visibility == 1 ? 0 : 1 ?> -->
                                    </td >

                                    <!-- Update -->
                                    <td title = "Action" style = "text-align: center;" >
                                        <a class = "btn btn-info gaz-admin-btn-crud" href = "{{ path('course_edit', {'id': course.id}) }}" ><i class = "fas fa-edit" ></i ><br ><small >Édité</small ></a >
                                    </td >

                                    <!-- Delete -->
                                    <td title = "Action" style = "text-align: center;" >

                                        <!--
                                        <a class = "btn btn-danger gaz-admin-btn-crud" href="{# path('course_delete', {'id': course.id}) #}" ><i class = "fas fa-trash-alt"></i ><br ><small >Bbiné</small ></a >
                                        -->

                                        <form method="post" action="{{ path('course_delete', {'id': course.id}) }}" onsubmit="return confirm('Êtes‑vous sur que vous voulez effacer ceci ?');">

                                            <input type="hidden" name="_method" value="DELETE">

                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">

                                            <button class="btn btn-danger gaz-admin-btn-crud"><i class = "fas fa-trash-alt"></i ><br ><small >Bbiné</small ></button>

                                        </form>
                                    </td >

                                    <td title = "Date de création" style = "text-align: center;" >{{ course.createdAt ? course.createdAt|date('Y-m-d ') : '' }}
                                        <br >
                                        <small >{{ course.createdAt ? course.createdAt|date('H\\hi\\ms\\s') : '' }}</small ><br >
                                        <small >{{ course.createdAt ? course.createdAt | localizeddate('none', 'none', null, null, 'EEEE') | capitalize }}</small >
                                    </td >

                                    {#
                                    Pour mettre le’s date’s en Français :

                                    « composer require twig/extensions »

                                    Modifier le service « twig_extensions.yaml » :
                                        services:
                                            twig.extension.intl:
                                                class: Twig_Extensions_Extension_Intl
                                                tags:
                                                    - { name: twig.extension }

                                   Modifier « translation.yaml » et mettre « default_locale: fr » en place « default_locale: en ».
                                    #}
                                </tr >

                            {% else %}

                                <tr >
                                    <td colspan = "13" >Pas d'enregistrement trouvé</td >
                                </tr >
                            {% endfor %}
                            </tbody >
                        </table >

                    </div >
                </div >
            </div >
        </div >
    </div >
{% endblock %}
