{% extends 'base_admin.html.twig' %}

{% block title %}Course{% endblock %}

{% block main %}
    <h1>Course</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ course.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ course.name }}</td>
            </tr>
            <tr>
                <th>SmallDescription</th>
                <td>{{ course.smallDescription }}</td>
            </tr>
            <tr>
                <th>FullDescription</th>
                <td>{{ course.fullDescription }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ course.duration }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ course.price }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ course.createdAt ? course.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsPublished</th>
                <td>{{ course.isPublished ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ course.slug }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ course.image }}</td>
            </tr>
            <tr>
                <th>Schedule</th>
                <td>{{ course.schedule }}</td>
            </tr>
            <tr>
                <th>Program</th>
                <td>{{ course.program }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('course_index') }}">back to list</a>

    <a href="{{ path('course_edit', {'id': course.id}) }}">edit</a>

    {{ include('admin/course/_delete_form.html.twig') }}
{% endblock %}
